includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 0
    reportUnmatchedIgnoredErrors: false

    parallel:
        maximumNumberOfProcesses: 6

    paths:
        - src
        - tests
